.order{
    margin-top: 100px;
}
.order h2{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
.order_section2{
    width: 1367px;
    height: 220px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.card{
    width: 341px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid grey;
    text-align: center;
    gap: 10px;
}
.card:last-child{
    border: none;
}
.card h4{
    font-weight: bold;
}
.card p{
    color: grey;
}